<html>
        <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <h1> Welcome {{ name }}!</h1>
        <a href="www.google.com">notgoogle</a>
        <ul>
	{% for list in lists %}
                <li>{{ list }}</li>
        {% endfor %}
	</ul><br>
	<form action='' method="POST">
		{{ form.hidden_tag()  }}
		<p> 
			{{ form.city.label }} <br>
			{{ form.city(size=32) }}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
        </body>
</html>

